@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
{HEADER------}
#header {
  background-color: #dc5139;
  height: 180px;
  line-height: 0px;
}
#header a {
 color: white;
 text-decoration: none;
 text-transform: uppercase;
}
#header a:hover {
 color: #222;
}
.home {
  font-size: 20px;
  font-weight: bold;
}
#header-nav {
 display: block;
 float: center;
 margin-top: 100;
}
#header-nav li {
 display: inline;
 padding-left: 122px;
}
.stemma{
  padding-left: 300px;
  height: 150px;

}
a.block { display:block;padding:5px; text-align: center; font-weight:bold; border:1px solid #dc5139; background-color:#f5f238; text-decoration: #ffffff}
a.block:hover, a.block:focus, a.block:active { background-color:#dc5139; border:1px solid #f5f238;}
{BODY-------}
body {
  color: #555;
  margin: 0;

  font-family: 'Montserrat', sans-serif;
}
.post, .about, .contact {
 max-width: 1000px;
 margin: 0 auto;
 padding: 60px 0 100px 100px;
}
.post-autor img {
 width: 50px;
 height: 50px;
 vertical-align: middle;
}
.post-autor span {
 margin-left: 16px;
}
.post-date {
 color: #D2D2D2;

 font-size: 14px;
 font-weight: bold;

 text-transform: uppercase;
 letter-spacing: 0.1em;
}
h1, h2, h3, h4 {
 color: #333;
}
p {
 line-height: 1.5;
}
.container {
 max-width: 1000px;
 margin: 0 auto;
}
div .post-content div{float: left;
    width: 45%;
    width: 49%;
    width: 45%;
    padding: 0 2%
  margin-right: 50px;
}
.about {
 text-align: center;
}
.testo {
 text-align: left;
}
.post-container:nth-child(even) {
 background-color: #ffffff;
}
.contact {
 text-align: center;
}
.post-author img,
.post-author img {
  border: solid 5px #dc5139;
  height: 100px;
  width: 100px;
  border-radius: 70px;
}
{FOOTER-------------}
#footer {
 background-color: #ffffff;
 padding: 50px 0px 50px 150px;
}
.column {
 min-width: 400px;
 display: inline-block;
 vertical-align: top;
}
#footer h4 {
 color: white;
 text-transform: uppercase;
 letter-spacing: 0.1em;
}
#footer p {
 color: white;
}
a {
 color: #eb1e30;
 text-decoration: none;
}
a:hover {
 color: #ffffff;
}
